<section class="branch-jumbotron py-3 px-lg-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="jumbotron rounded-4 position-relative">
                    <div class="bg-img">
                        <img class="img-fluid object-fit-cover" src="https://source.unsplash.com/MQUqbmszGGM/1920x750" alt="img">
                    </div>
                    <div class="jumbotron-content ms-lg-1 mb-lg-1 mt-3">
                        <div class="row">
                            <div class="col-xl-6 col-lg-7">
                                <div class="card border-0 shadow-sm">
                                    <div class="card-body hstack align-items-start gap-3">
                                        <div class="branch-img rounded-4">
                                            <img src="https://source.unsplash.com/Oxb84ENcFfU/350x350" class="img-fluid object-fit-cover rounded-4 shadow" alt="branch-img">
                                        </div>
                                        <div class="vstack justify-content-between slider-content-details">
                                            <div class="vstack gap-1">
                                                <div class="fw-bold h5 flex-wrap">City South Pizza, Kings Cross Rd </div>
                                                <div class="vstack gap-2">
                                                    <div class="location d-flex align-items-start gap-2">
                                                        <i class="bi bi-geo-alt-fill tikme-text-theme"></i>
                                                        <span>7700 Hurontario St & Ray Lawson Blvd, Brampton, ON L6Y 4M3, Canada <button class="btn tikme-btn-theme btn-sm d-inline-flex fw-500" [style.fontSize.px]="10">Change Branch</button></span>
                                                    </div>
                                                    <div class="phone-number d-flex align-items-center gap-2">
                                                        <i class="bi bi-telephone-fill tikme-text-theme"></i>
                                                        <span>+1 (905) 457-5557</span>
                                                    </div>
                                                    <div class="restaurants-openingtime d-flex align-items-start gap-2">
                                                        <i class="bi bi-clock-fill tikme-text-theme"></i>
                                                        <span>Store Hrs: 12:00 AM to 11:59 PM <small class="badge bg-success fw-500" [style.fontSize.px]="12">Open</small></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>