<footer class="footer py-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="d-flex flex-shrink-0 flex-wrap gap-3 justify-content-center align-content-center">
                    <a [routerLink]="" class="text-decoration-none tikme-text-white"> &copy; Copyright TikMe Inc.</a>
                    <div class="vr d-none d-sm-block mx-lg-2 text-white"></div>
                    <a [routerLink]="" class="text-decoration-none tikme-text-white"> Privacy Policy</a>
                    <div class="vr d-none d-sm-block mx-lg-2 text-white"></div>
                    <a [routerLink]="" class="text-decoration-none tikme-text-white"> Terms of Service</a>
                </div>
            </div>
        </div>
    </div>
</footer>