.hero-carousel {
    .carousel-card {
        .bg-img {
            position: relative;
            border-radius: 1.5rem;
            overflow: hidden;

            // max-height: 560px;
            @media (min-width: 992px) {
                &::before {
                    content: "";
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    background: rgba(0, 0, 0, 0.35);
                }
            }
        }

        .search-bar input.form-control {
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
            min-height: 46px;
        }

        .carousel-card-content {
            position: absolute;
            left: 0;
            top: 50%;
            width: 100%;
            transform: translateY(-50%);

            .container-block {
                @media (min-width: 768px) {
                    max-width: 90%;
                }
            }

            .card.card-body {
                position: relative;
                border-radius: 1.5rem;
                background: color-mix(in srgb, #ffffff 70%, transparent);
                backdrop-filter: blur(4px);
                z-index: 1;

                @media (max-width:767px) {
                    max-width: 85%;
                    margin-inline: auto;
                }

                .branch-img {
                    width: min(50%, 130px);

                    img {
                        max-width: 100%;
                        height: auto;
                    }
                }

                .slider-content-details {
                    .card-title {
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        overflow: hidden;

                        @media (max-width:567px) {
                            font-size: 0.9rem;
                        }
                    }

                    .location,
                    .phone-number,
                    .opening-time {
                        span {
                            display: -webkit-box;
                            -webkit-line-clamp: 2;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                        }
                    }
                }
            }
        }

        ::ng-deep .carousel.slide {
            box-shadow: none;
            outline: none;

            .carousel-indicators {
                bottom: -2.5rem;

                [data-bs-target] {
                    background-color: var(--tikme-theme);

                    @media (min-width: 768px) {
                        background-color: var(--tikme-white);
                    }
                }
            }

            .carousel-inner {
                outline: none;
                border-radius: 2rem;
                overflow: hidden;

                @media (max-width:767px) {
                    border-radius: 1rem;
                }

                .picsum-img-wrapper {
                    max-height: 150px;
                    height: max(20%, 150px);

                    @media (max-width:767px) {
                        max-height: 120px;
                    }
                    img {
                        max-width: 100%;
                        height: auto;
                    }
                }
            }

            .carousel-control-prev,
            .carousel-control-next {
                top: 45%;
                width: 25px;
                height: 25px;
                border-radius: 50%;
                background: var(--tikme-white);
                padding: 6px;
                opacity: 1;
            }

            .carousel-control-prev {
                left: 10px;

                .carousel-control-prev-icon {
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23f0431d' class='bi bi-caret-left-fill' viewBox='0 0 16 16'%3E%3Cpath d='m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z'/%3E%3C/svg%3E");
                }
            }

            .carousel-control-next {
                right: 10px;

                .carousel-control-next-icon {
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23f0431d' class='bi bi-caret-right-fill' viewBox='0 0 16 16'%3E%3Cpath d='m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z'/%3E%3C/svg%3E");
                }
            }
        }
    }
}